In [ ]:
import mysql

In [46]:
def abreConexao():
    #configuração do servidor
    config = {
        'user': 'xxx',
        'password': 'xxx',
        'host': 'xxx',
        'database': 'xxx',
        'raise_on_warnings': True,
    }    
    #conectando na base
    cnx = mysql.connector.connect(**config)
    return cnx

In [52]:
def executaQueryGenerica(cnx,sqlQuery):
    #cria cursor para execução e parse
    cursor = cnx.cursor()
    cursor.execute(sqlQuery)
    cnx.commit()
    cursor.close()
    return True;

In [54]:
def fechaConexao(cnx):
    cnx.close()

In [64]:
conexao = abreConexao()
sqlQuery = "INSERT INTO eleicoes.tb_twitter (twitter) VALUES ('teste python');"
executaQueryGenerica(conexao,sqlQuery)
fechaConexao(cnx)